@media screen and (min-width: 320px) {
    .over-view {
      display: none!important;
    }
  }

  .my-btn{
    background: linear-gradient(to right, #da8cff, #9a55ff) !important;
    color: #fff !important;
  }

  select.select-type{
      padding: 17px !important;
  }

  .role-style{
    background-color: #667266;
    padding: 4px;
    color: #fff;
  }

  .pagination{
    margin-top: 15px !important;
  }

  label.error {
    color: #dc3545;
    font-size: 14px;
}
.note-editing-area{
  height: 150px !important;
}

.my-text-shadow{
  color: #0e0e0e;
  text-shadow: 2px 2px 4px #080808;
}

.card-h{
height: 150px !important;
}

.text-d{
  text-decoration: none;
  color: #fff;
}

.bg-gradient-service1{
  background: linear-gradient(to right, #0a0a09, #fe7096) !important;
}
.bg-gradient-service2{
  background: linear-gradient(to right, #121314, #047edf 99%) !important;
  background: linear-gradient(to right, #0f1010, #07cdae) !important;
}
.bg-gradient-service3{
  background: linear-gradient(to right, #0f1010, #07cdae) !important;
}

